body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    padding: 0;
    margin: 0;
}
section,
article,
header,
footer{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
a:visited{

}
a:hover{

}
a:active{

}

li{
    list-style: none;
}
/*±ÕºÏ¸¡¶¯*/
.claerfix:after{
    content: '\200B';
    display: block;
    height: 0;
    clear: both;
}
.claerfix{
    *zoom: 1;
}